

#Pending {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
    color: #FAFAFA;
}

#InProgress {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
    color: #FAFAFA;
}

#Completed {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    color: #FAFAFA;
}

.sidebar .home {
    background-color: #4099ff
}