body {
  /* background: #FFFFFF url("/frontend/src/assets/images/jpeg") no-repeat; */
  background-color: #282729;
  background-size: cover;

}


.container {
  border-radius: 6px;
  max-width: 550px;
}

.row {
  background-color: #ffffff;
  margin: 30px 30px 30px;
}